<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>


<body>
  <h1>Hello this is parent componant!!!!!!!</h1>
  <br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-4 border border-primary">
        This is child componant
        
        <app-first-child></app-first-child>
      </div>

      <div class="col-4 offset-2 border border-primary">
        This is also child compnant

        <app-second-child></app-second-child>
      </div>
    </div>
  </div>

</body>
</html>